<div id='footer'>
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
     <dl>
        <dt><b>Support</b></dt>
        <dt><a [routerLink]="['/aboutus']">About us</a></dt>
        <dt><a [routerLink]="['/contactus']">Contact Us</a></dt>
    </dl>
    </div>
    <div class="col-sm-4" style="background-color:lavenderblush;">
      <dl>
         <dt><b>Connect</b></dt>
         <dt>Visit us on facebook</dt>
         <dt>Visit us on Twitter</dt>
     </dl>
    </div>
    <div class="col-sm-4" style="background-color:lavender;">
      <dl>
         <dt><b>Find us</b></dt>
         <dt>@Google map</dt>
     </dl>
    </div>
  </div>
  <div class="centre">
     @Copyright 2018 - Wipro Technologies
  </div>
</div>
