<div class="container">
  <h2>Feedback</h2>
  <form>
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="usr">Email:</label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="10" id="comment"></textarea>
    </div>
    <br/>
    <div class="">
        <a routerLink="/thankyou" class="btn btn-xs btn-primary vendor"><b>Submit</b></a>
    </div>
  </form>
</div>
