<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Food Stalls</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"> <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Home</a></li>
      <li><a [routerLink]="['/aboutus']">About us</a></li>
      <li><a [routerLink]="['/contactus']">Contact Us</a></li>
      <li><a [routerLink]="['/feedback']">Feedback</a></li>
    </ul>
    <div *ngIf="isLoggedIn;">
      <ul class="nav navbar-nav navbar-right">
        <li><a><span class="glyphicon glyphicon-user">Welcome!&nbsp;</span></a></li>
        <li><a><b>{{username}}</b></a></li>
        <li><a class='tile' (click)='logout()'>Logout</a></li>
      </ul>
    </div>
    <div *ngIf="!isLoggedIn;">
      <ul class="nav navbar-nav navbar-right">
        <li> <a [routerLink]="['/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/login']">User Login</a></li>
            <li><a [routerLink]="['/login']">Vendor Login</a></li>
            <li><a [routerLink]="['/login']">Admin Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
